/* Fonts used. */
/* 
font-family: 'Roboto', sans-serif;
font-family: 'Source Code Pro', monospace;
*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3vw;
    color: black;
}
.code {
    font-family: 'Source Code Pro', monospace;
}
.center {
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
}

p {
    text-indent: 1.5em;
}

h3 {
    font-size: 2vw;
}

a {
    color: dimgray;
}
a:hover {
    color: #e54848;
}
a:visited {
    color: dimgray;
}

.imageSize {
    max-width: 7vw;
}
